@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato/latolight.woff2') format('woff2'), url('../fonts/lato/latolight.woff') format('woff'), url('../fonts/lato/latolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Heavy'), local('Lato-Heavy'), url('../fonts/lato/latoheavy.woff2') format('woff2'), url('../fonts/lato/latoheavy.woff') format('woff'), url('../fonts/lato/latoheavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

*, *::before, *::after {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    height: 100%;
    background: #E5E5E5;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.title {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
}

.text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 167%;
    color: rgba(0, 0, 0, 0.8);
}

.button {
    width: 200px;
    height: 45px;
    background: #DEC377;
    border-radius: 2px;
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 231%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

/* header */

.header {
    height: 150px;
    background: #fff;
    padding-top: 15px;
}

.header-info-top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header-language {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-language-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 13px;
}

.header-language-select {
    position: relative;
}

.header-language-select select {
    display: block;
    width: 100%;
    padding-right: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img/icons/selection.svg') no-repeat right;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.header-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contacts-phone {
    font-family: 'Commissioner', sans-serif;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-right: 15px;
}

.header-contacts-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 14px;
}

.icon {
    margin-right: 11px;
}

.icon:last-child {
    margin-right: 0;
}

.heder-vision {
    cursor: pointer;
}

.header-info, .header-info-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu-link {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    margin-right: 50px;
}

.search-button {
    background: none;
    cursor: pointer;
}

.photo-slider {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: 650px;
    height: 100%;
}

.slick-arrow {
    border: none;
    background: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 100;
}

.slick-prev {
    left: 400px;
    top: 490px;
}

.slick-next {
    left: 460px;
    top: 490px;
}

.photo-slider-info {
    position: absolute;
    margin-left: 375px;
    margin-top: 160px;
}

.photo-slider-title {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
    width: 570px;
}

.photo-slider-text {
    margin-bottom: 50px;
    width: 500px;
}

/*  advantages */

.advantages {
    top: -90px;
    bottom: 0px;
    position: relative;
    margin-bottom: 10px;
}

.advantages-cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantage-card {
    background: #FFFFFF;
    width: 270px;
    height: 285px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    margin: 30px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage-card-icon {
    width: 120px;
    height: 120px;
}

.advantage-card-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156%;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.75);
    margin-top: 25px;
    max-width: 230px;
}

.introduction-filling {
    max-width: 1170px;
    width: 100%;
    max-height: 645px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

/* introducrion */

.introdaction-description {
    margin-left: 70px;
}

.introducrion-title {
    max-width: 540px;
    width: 100%;
    margin-top: 50px;
}

.introducrion-text {
    max-width: 470px;
    width: 100%;
    margin-top: 30px;
    max-height: 425px;
}

.main-activities-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-activities-title {
    margin-bottom: 35px;
}

.main-activities-card {
    max-width: 370px;
    width: 100%;
    height: 140px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 15px;
}

.main-activities-card-text {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.9);
}

.main-activities-card-button {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    background: none;
    cursor: pointer;
    margin-top: 50px;
}

.main-activities-card-icon {
    width: 80px;
    height: 80px;
}

.main-activities-button {
    margin-top: 10px;
}

.main-principles {
    margin: 100px 0;
}

.main-principles-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.main-principles-title {
    max-width: 370px;
    width: 100%;
}

.main-principles-text {
    max-width: 770px;
    width: 100%;
    margin-bottom: 30px;
}

.slider-prev {
    left: -42px;
    bottom: 265px;
}

.slider-next {
    right: -42px;
    bottom: 265px;
}

.slider-prev.slick-arrow {
    width: 100px;
    height: 100%;
    left: -100px;
    top: 0;
}

.slider-next.slick-arrow {
    width: 100px;
    height: 100%;
    right: -100px;
    top: 0;
}

.slick-track {
    height: 613px;
}

.reviews-title {
    margin-bottom: 35px;
}

.reviews-card {
    background-color: #FFFFFF;
    max-width: 570px;
    height: 585px;
    margin-right: 30px;
    margin-left: 15px;
}

.reviews-card-content {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    height: 100%;
}

.reviews-card-img {
    width: 100%;
}

.reviews-card-description {
    width: 470px;
    height: 380px;
    margin: 40px auto auto auto;
}

.reviews-card-position {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 167%;
    color: rgba(0, 0, 0, 0.5);
}

.reviews-card-autor {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 154%;
    letter-spacing: 0.01em;
    color: #DEC377;
    margin-bottom: 20px;
}

.reviews-card-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 179%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;
}

.reviews-card-button {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    background: none;
    cursor: pointer;
}

.slick-dots {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 15px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    background: #DEC377;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    content: "";
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(0, 0, 0, 0.1);
}

.slick-dots li.slick-active button:before {
    background: #DEC377;
}

.reviews-slick-prev {
    right: 80px;
    top: 585px;
    margin-top: 20px;
}

.reviews-slick-next {
    right: 20px;
    top: 585px;
    margin-top: 20px;
}

.reviews-button {
    margin-bottom: 100px;
}

.client-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.client-text {
    max-width: 670px;
    width: 100%;
}

.client-button {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 231%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #DEC377;
    cursor: pointer;
    border: 2px solid #DEC377;
    border-radius: 2px;
    background-color: transparent;
    width: 200px;
    height: 45px;
}

.partners {
    display: flex;
    justify-content: space-between;
    filter: grayscale(100%);
    height: 80px;
    margin-bottom: 180px;
}

.white-bg {
    background-color: #fff;
    max-width: 1920px;
    width: 100%;
    height: 1345px;
    position: absolute;
    z-index: 0;
    top: 3310px;
    left: 0;
    right: 0;
    margin-bottom: 80px;
}

.main-principles, .reviews, .client {
    z-index: 100;
    position: relative;
}

.info-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.info-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding: 40px 50px 0;
}

.info-card:nth-child(1), .info-card:nth-child(2) {
    flex-basis: 50%;
    max-width: 570px;
    width: 100%;
    height: 305px;
    margin-bottom: 30px;
    position: relative;
}

.block-triangle {
    border-top: 100px solid #DEC377;
    border-left: 100px solid transparent;
    position: absolute;
    top: 0px;
    right: 0px;
}

.info-card:nth-child(3) {
    flex-basis: 100%;
    width: 1170px;
    height: 185px;
    display: flex;
    justify-content: space-between;
}

.info-card:nth-child(3) .info-card-title {
    width: 250px;
}

.info-card:nth-child(3) .info-card-text {
    max-width: 720px;
}

.info-card-title {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 173%;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 15px;
}

.bg-img {
    height: 180px;
    margin-bottom: 80px;
}

.services-title {
    margin-bottom: 35px;
}

.services-card-title {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.9);
    margin: 25px 0 45px 100px;
    max-width: 447px;
}

.services-card:nth-child(5) .services-card-title {
    margin-bottom: 15px;
}

.services-card-button {
    background-color: transparent;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    float: right;
    margin-right: 30px;
}

.services-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    height: 140px;
}

.services-card:nth-child(1), .services-card:nth-child(9), .services-card:nth-child(6) {
    width: 470px;
}

.services-card:nth-child(2), .services-card:nth-child(5), .services-card:nth-child(10) {
    width: 670px;
}

.services-card:nth-child(3), .services-card:nth-child(4), .services-card:nth-child(7), .services-card:nth-child(8) {
    width: 570px;
}

.rectangle {
    position: absolute;
    width: 70px;
    height: 140px;
}

.services-card:nth-child(1) .rectangle, .services-card:nth-child(2) .rectangle, .services-card:nth-child(9) .rectangle, .services-card:nth-child(10) .rectangle {
    background: rgba(222, 195, 119, 0.4);
}

.services-card:nth-child(3) .rectangle, .services-card:nth-child(4) .rectangle, .services-card:nth-child(7) .rectangle, .services-card:nth-child(8) .rectangle {
    background: rgba(222, 195, 119, 0.75);
}

.services-card:nth-child(5) .rectangle, .services-card:nth-child(6) .rectangle {
    background: #DEC377;
}

.services-text {
    max-width: 760px;
    width: 100%;
}

.services-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 20px;
}

.trust {
    background: #fff;
    height: 790px;
    padding-top: 80px;
    margin-bottom: 80px;
}

.trust-item {
    display: flex;
    justify-content: space-between;
}

.trust-content-title {
    margin-bottom: 30px;
}

.trust-content-text {
    max-width: 470px;
    width: 100%;
}

.list-item {
    margin-left: 70px;
    margin-top: -40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 176%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.75);
}

.trust-content-list ul {
    list-style: url('../img/list.svg');
    list-style-position: inside;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 440px;
    height: 255px;
}

.line {
    width: 1170px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin: 60px auto;
}

.pluses-cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.pluses-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    width: 270px;
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pluses-card-icon {
    width: 120px;
    height: 120px;
}

.pluses-content-title {
    margin-bottom: 35px;
}

.pluses-card-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156%;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.75);
    margin-top: 25px;
    width: 230px;
}

.plases-content {
    max-width: 1170px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    padding-top: 40px;
    padding-left: 50px;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
}

.pluses-content-text {
    max-width: 750px;
    z-index: 100;
    position: relative;
}

.plases-block-triangle {
    border-top: 100px solid #DEC377;
    border-left: 100px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
}

.cooperation-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cooperation-org-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.cooperation-org-title {
    margin-bottom: 35px;
}

.cooperation-org-icon {
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

.cooperation-org-item-text {
    width: 400px;
    height: 75px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 167%;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
}

.cooperation-org-text {
    max-width: 500px;
    height: 75px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 179%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 5px;
}

.cooperation-info-form {
    max-width: 570px;
    width: 100%;
    height: 365px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 40px 50px 50px;
}

.cooperation-form-title {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.cooperation-form-input {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 8px;
}

.cooperation-form-input::placeholder {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 167%;
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.6;
}

.cooperation-form {
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 257px;
    justify-content: space-between;
    margin: auto;
}

.cooperation-form-button {
    width: 470px;
    height: 45px;
    background: #DEC377;
    border-radius: 2px;
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 231%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.politics {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 154%;
    color: rgba(0, 0, 0, 0.5);
    width: 470px;
    margin-bottom: 30px;
}

.politics-link {
    font-weight: bold;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.cost-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.cost-content-text {
    max-width: 670px;
    margin: 30px 0;
}

.footer {
    height: 705px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-title {
    width: 270px;
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 50px;
    margin-bottom: 70px;
}

.footer-items, .footer-item-description {
    display: flex;
    flex-wrap: nowrap;
}

.footer-item-company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 255px;
    width: 100%;
    height: 410px;
    margin-right: 45px;
}

.footer-item-description-title {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 15px;
}

.footer-item-description-content {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 154%;
    color: rgba(0, 0, 0, 0.5);
}

.footer-button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    background: transparent;
    text-align: left;
    margin-right: 15px;
}

.social-links-icon {
    width: 27px;
    height: 27px;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-link {
    text-decoration: none;
}

.footer-line {
    width: 60px;
    height: 12px;
}

.offices {
    display: flex;
}

.item-name {
    display: flex;
    flex-direction: column;
}

.footer-items-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 167%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 85px;
    margin-bottom: 5px;
}

.footer-item-line {
    width: 640px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    margin-bottom: 30px;
}

.footer-item-line-2 {
    width: 170px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    margin-bottom: 30px;
}

.footer-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 35px;
    max-width: 200px;
    width: 100%;
}

.footer-item-content:nth-child(1) {
    height: 310px;
}

.footer-item-content:nth-child(2) {
    height: 445px;
}

.footer-item-content:nth-child(3) {
    height: 285px;
}

.footer-item-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 275px;
    max-width: 170px;
    width: 100%;
}

.footer-item-title {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 179%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
}

.footer-item-link {
    text-decoration: none;
}

.footer-item-list {
    list-style: none;
}

.footer-adress-title {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.75);
}

.footer-adress-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 154%;
    color: rgba(0, 0, 0, 0.8);
}

.footer-adress-email {
    text-decoration: none;
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 154%;
    color: rgba(0, 0, 0, 0.8);
}

.footer-item-offices {
    display: flex;
}

.footer-copy {
    margin-top: 60px;
    height: 55px;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 17px;
}

@media (max-width: 1545px) {
    .photo-slider-info {
        margin-left: 200px;
    }
}

@media (min-width: 1300px) {
    .slick-prev, .slick-next {
        top: 400px;
    }
}

@media (max-width: 1300px) {
    .photo-slider-info {
        margin-left: 105px;
        margin-top: 40px;
    }
    .slider-prev.slick-arrow {
        left: 0px;
        background: rgba(255, 255, 255, 0.3);
    }
    .slider-next.slick-arrow {
        right: 0px;
        background: rgba(255, 255, 255, 0.3);
    }
    .slick-prev {
        left: 0;
        top: 0px;
        height: 66%;
    }
    .slick-next {
        right: 0;
        margin-left: auto;
        top: 0px;
        height: 66%;
    }
    .main-activities-cards {
        justify-content: space-around;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
    .advantage-card {
        flex: 0 1 22%;
    }
    .photo-slider-title {
        font-size: 24px;
    }
    .services-cards {
        width: 470px;
        justify-content: center;
        margin: auto;
    }
    .services-card-title {
        font-size: 14px;
        padding-right: 50px;
    }
    .info-card:nth-child(1), .info-card:nth-child(2) {
        flex-basis: 51%;
    }
    .info-cards {
        justify-content: center;
    }
}

@media (max-width: 1136px) {
    .container {
        width: 90%;
    }
    .advantages {
        top: -200px;
    }
    .introduction-filling {
        margin-top: 50px;
    }
    .title {
        font-size: 21px;
    }
    .introducrion-text {
        margin-top: 15px;
    }
    .reviews-card-description {
        padding: 30px;
        margin: 0;
    }
    .reviews-card-autor {
        font-size: 20px;
    }
    .partners {
        margin-bottom: 100px;
    }
    .footer-items, .footer-item-description {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-item-company {
        max-width: 100%;
        height: auto;
    }
    .footer-title {
        width: 100%;
        margin-bottom: 0;
    }
    .social-links {
        justify-content: start;
    }
    .footer-item-company-info {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .pluses-card {
        margin-bottom: 20px;
        flex-basis: 34%;
    }
}

@media (max-width: 1090px) {
    .advantage-card {
        flex: 0 1 34%;
    }
    .reviews-card-text {
        padding: 0 30px 0 0;
    }
    .photo-slider-title {
        width: 300px;
    }
    .info-card:nth-child(1), .info-card:nth-child(2) {
        flex-basis: 100%;
    }
    .info-card:nth-child(3) {
        padding: 50px;
        flex-direction: column;
        height: auto;
    }
    .info-cards {
        justify-content: center;
    }
    .services-card-button {
        float: left;
        margin-left: 100px;
    }
    .pluses-cards {
        justify-content: space-around;
    }
    .cooperation-info {
        justify-content: center;
    }
    .cooperation-org-text {
        margin-bottom: 10px;
    }
    .footer-item-company {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-right: 45px;
    }
    .social-links {
        display: flex;
        justify-content: flex-start;
    }
    .footer-item-company-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .site-map {
        margin-bottom: 5px;
    }
    .advantage-cards {
        justify-content: space-around;
    }
    .info-card:nth-child(3) .info-card-title {
        width: auto;
    }
    .info-card:nth-child(1), .info-card:nth-child(2) {
        max-width: 100%;
        padding: 50px;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .reviews-card-text {
        padding: 0 60px 0 0;
    }
    .photo-img {
        width: auto;
        height: auto;
    }
    .header {
        height: auto;
    }
    .header-info, .header-info-menu {
        flex-direction: column;
    }
    .header-menu-link {
        font-size: 12px;
        margin-right: 30px;
    }
    .header-info-top {
        margin-bottom: 20px;
    }
    .white-bg {
        display: none;
    }
    .slider-prev.slick-arrow, .slider-next.slick-arrow {
        width: 60px;
        height: 60px;
        top: 0;
    }
    .reviews-button {
        margin-top: 20px;
    }
    .photo-slider-text {
        margin-bottom: 10px;
    }
    .slick-track {
        height: 0;
    }
    .advantages {
        top: 0;
        margin-top: 20px;
    }
}

@media (max-width: 990px) {
    .reviews-card {
        max-width: 100%;
    }
    .reviews-card-description {
        width: 100%;
        margin: 40px auto auto auto;
    }
    .header {
        height: 230px;
    }
    .search-button {
        margin-top: 20px;
    }
    .photo-slider-text {
        width: 301px;
    }
    .title {
        font-size: 18px;
    }
    .text {
        font-size: 13px;
    }
    .partners {
        height: 50px;
        width: auto;
    }
    .services-content {
        flex-direction: column;
    }
    .services-button {
        margin-top: 20px;
    }
    .slider-prev.slick-arrow, .slider-next.slick-arrow {
        background-color: transparent;
    }
    .slider-prev.slick-arrow:hover, .slider-next.slick-arrow:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

@media (max-width: 985px) {
    .footer-item-time {
        flex-direction: row;
        max-width: 90%;
        height: auto;
    }
    .footer-item-offices {
        flex-wrap: wrap;
    }
    .pluses-content-text {
        padding-right: 55px;
    }
}

@media (max-width: 790px) {
    .introdaction-description {
        margin-left: 30px;
    }
    .introducrion-text:last-child {
        padding-bottom: 30px;
    }
    .photo-slider-title {
        font-size: 18px;
    }
    .button {
        width: 125px;
        height: 40px;
        font-size: 12px;
    }
    .advantage-card {
        width: 230px;
        height: 240px;
        flex: 0 1 34%;
    }
    .advantage-card-icon {
        width: 30%;
        height: 40%;
    }
    .advantage-card-text {
        font-size: 14px;
        max-width: 230px;
        padding: 0 15px;
    }
}

@media (max-width: 690px) {
    .client-description {
        flex-direction: column;
    }
    .client-button {
        width: 156px;
        margin-top: 20px;
    }
    .partners {
        display: flex;
        flex-wrap: wrap;
    }
    .info-card-title {
        font-size: 20px;
    }
    .bg-img {
        display: none;
    }
    .list-item {
        font-size: 13px;
    }
    .pluses-card-text {
        padding: 0 15px;
        font-size: 13px;
    }
    .pluses-card-icon {
        width: 40%;
        height: 25%;
    }
    .pluses-card {
        justify-content: space-around;
    }
    .footer-title {
        font-size: 16px;
    }
    .header-contacts {
        align-items: center;
        flex-direction: column;
    }
    .header-contacts-phone {
        font-size: 12px;
    }
    .header-language-title, .header-language-select select {
        font-size: 14px;
    }
    .header-info-top {
        margin-bottom: 0px;
    }
    .photo-slider-text {
        width: 238px;
    }
    .photo-slider-title {
        margin-bottom: 5px;
    }
    .button {
        width: 100px;
        height: 32px;
        font-size: 10px;
    }
    .footer-item-list-minsk, .footer-adress-minsk, .footer-phone-minsk, .footer-adress-mogilev, .footer-adress-brest, .footer-adress-vitebsk, .footer-adress-grodno, .footer-adress-gomel {
        display: none;
    }
    .offices {
        flex-direction: column;
    }
    .footer-item-content:nth-child(1), .footer-item-content:nth-child(2), .footer-item-content:nth-child(3) {
        height: auto;
    }
    .footer-item-title {
        cursor: pointer;
    }
    .footer-item-line {
        width: auto;
    }
    .client-button {
        font-size: 12px;
        width: 145px;
        height: 35px;
    }
    .reviews-button {
        margin-bottom: 30px;
    }
    .partners-img {
        width: 21%;
        height: 114%;
    }
    .cooperation-form-button {
        width: 350px;
        margin: 0;
    }
    .politics, .cooperation-form-input {
        width: 59%;
    }
    .cost-content {
        margin: 50px auto;
    }
    .footer-item-time {
        max-width: 100%;
    }
    .reviews-slick-prev, .reviews-slick-next {
        margin-top: 0;
    }
    .reviews-card-text {
        padding-right: 20px;
    }
}

@media (max-width: 552px) {
    .reviews-card-text {
        font-size: 12px;
    }
    .header-contacts-icons, .icon-mts {
        display: none;
    }
    .header-menu-link {
        font-size: 11px;
        margin-right: 20px;
    }
    .logo {
        margin-bottom: 20px;
    }
    .photo-slider-title {
        font-size: 14px;
        width: 190px;
    }
    .text {
        font-size: 12px;
    }
    .photo-slider-text {
        max-width: 225px;
    }
    .photo-slider-info {
        margin-left: 80px;
        margin-top: 10px;
    }
    .advantage-card {
        width: 230px;
        height: 180px;
        flex: 0 1 34%;
    }
    .advantage-card-text {
        font-size: 12px;
    }
    .title {
        font-size: 16px;
    }
    .introducrion-img {
        display: none;
    }
    .introdaction-description {
        margin-right: 30px;
    }
    .introduction-filling {
        margin-bottom: 50px;
    }
    .main-activities-card-text {
        font-size: 16px;
    }
    .main-principles {
        margin: 50px 0;
    }
    .reviews-card-autor {
        font-size: 16px;
    }
    .reviews-card-description {
        margin: 0;
    }
    .info-card-title {
        font-size: 18px;
    }
    .info-card:nth-child(1), .info-card:nth-child(2), .info-card:nth-child(3) {
        padding: 30px;
    }
    .info-cards {
        margin-bottom: 50px;
    }
    .services-content {
        margin-bottom: 50px;
    }
    .trust-item {
        flex-direction: column;
    }
    .trust-content-list ul {
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .trust {
        height: auto;
    }
    .line {
        width: auto;
        margin: 20px 20px;
    }
    .pluses-card {
        height: 243px;
    }
    .plases-content {
        margin-bottom: 50px;
    }
    .cooperation-org-item-text {
        font-size: 14px;
    }
    .cooperation-org-icon {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    .footer-item-time, .footer-item-company-info {
        flex-direction: column;
    }
    .footer-item-description {
        margin-bottom: 5px;
    }
    .footer-items-title {
        margin-top: 50px;
    }
}

@media (max-width: 476px) {
    .header-info, .header-info-menu {
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }
    .header-menu {
        flex-direction: column;
    }
    .logo img {
        width: 70%;
    }
    .search-button {
        margin-top: 0px;
    }
    .logo {
        margin-bottom: 0px;
    }
    .photo-slider-title {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .photo-slider-text {
        display: none;
    }
    .title {
        font-size: 14px;
    }
    .main-principles-content {
        flex-direction: column;
    }
    .main-principles-title, .main-principles-text {
        margin-bottom: 20px;
    }
    .reviews-card-text {
        font-size: 12px;
        padding: 0 30px 0 0;
    }
    .slick-arrow {
        width: 50px;
        height: 30px;
    }
    .info-card-title {
        font-size: 14px;
    }
    .services-cards {
        max-width: 400px;
        width: 90%;
    }
    .rectangle {
        width: 25px;
    }
    .services-card-title, .services-card-button {
        font-size: 12px;
        margin-left: 50px;
        padding-right: 15px;
    }
    .list-item {
        margin-left: 50px;
    }
    .pluses-card {
        justify-content: center;
        height: 200px;
    }
    .plases-content {
        height: auto;
        padding: 20px 50px 20px 20px;
    }
    .pluses-content-text {
        padding-right: 0;
    }
    .reviews-card-text {
        padding: 0;
    }
    .partners {
        display: none;
    }
    .cooperation-info {
        flex-direction: column;
    }
    .cooperation-org-item {
        margin-bottom: 0;
        flex-direction: column;
    }
    .cooperation-org-item-text {
        font-size: 12px;
    }
    .cooperation-org-icon {
        width: 40px;
        height: 40px;
    }
    .cooperation-form-button {
        max-width: 210px;
        font-size: 12px;
    }
    .footer-title {
        font-size: 14px;
        margin-top: 20px;
    }
    .footer-items-title {
        margin-top: 20px;
        font-size: 12px;
    }
    .footer-item-title {
        font-size: 12px;
    }
    .pluses-content-text {
        padding-right: 24px;
    }
    .advantage-card {
        flex: 0 1 46%;
    }
}

@media (max-width: 408px) {
    .photo-slider-info {
        margin-left: 43px;
        margin-top: 43px;
    }
    .slick-arrow {
        width: 35px;
        height: 35px;
    }
    .reviews-slick-next {
        right: 0;
    }
    .reviews-slick-prev {
        right: 50px;
    }
    .info-card:nth-child(2) {
        padding-right: 53px;
    }
    .cooperation-org-item-text {
        width: 90%;
        text-align: center;
    }
    .cooperation-info-form {
        padding: 20px;
        height: auto;
    }
    .politics, .cooperation-form-input {
        width: 50%;
    }
    .cooperation-form-input::placeholder {
        font-size: 12px;
    }
    .reviews-slick-prev, .reviews-slick-next {
        margin-top: 20px;
    }
    .reviews-card-description {
        padding: 20px;
    }
    .reviews-card-autor {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .reviews-card-text {
        margin-bottom: 15px;
    }
}

@media (max-width: 345px) {
    .advantage-card {
        flex: 2 1 51%;
    }
    .photo-slider-info {
        margin-top: 16px;
    }
    .button {
        width: 85px;
        height: 25px;
        font-size: 9px;
    }
    .header-language-title, .header-language-select select {
        font-size: 12px;
        margin-right: 5px;
    }
    .icon-vision {
        width: 21px;
        height: 16px;
    }
}